<!DOCTYPE html>
<html lang="en">

<head>
    <title>Prismic Starter</title>
    <link rel="alternate" type="application/rss+xml" title="<?= site_title() ?>'s Feed" href="/feed" />
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/modernizr.js"></script>
    <script src="/jquery-1.11.2.min.js"></script>
</head>

<body class="<%= blocks.bodyclass %>">

<div id="right-panel">
    <%- partial('sidebar') %>
</div>

<div id="main">
    <a id="menu-hamburger" href="#right-panel">
        <i class="fa fa-bars"></i>
    </a>

    <%-body -%>

    <footer class="blog-footer">
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
</div>
<!-- Prismic toolbar -->
<script src="//static.cdn.prismic.io/prismic.min.js"></script>

<!-- Hamburger menu -->
<script src="/jquery.panelslider.js"></script>
<script type="text/javascript">
    $('#menu-hamburger').panelslider({side: 'right', duration: 200 });
</script>

</body>
</html>
