<% layout('layout') -%>

<div class="blog-header" style="background-image: url(<?= post_thumbnail_url() ?>)">
    <div class="container">
        <h1 class="blog-title"><%- post.getText('page.title') %></h1>
    </div>
</div>

<div class="container">
    <div class="blog-main">


        <% if (post.getStructuredText('page.body')) { %>
        <%- post.getStructuredText('page.body').asHtml(ctx.linkResolver) %>
        <% } %>

        <!-- TODO previous_post_link() -->

        <!-- TODO next_post_link() -->

    </div>
</div>

