<div class="search">
    <div class="search-icon">
        <i class="fa fa-search"></i>
    </div>
    <form method = "get" action = "/search" >
        <input type = "text" placeholder = "search" name = "q" >
    </form >
</div>

<div class="sidebar-section">
    <h3 class="blog-nav-item"><a href="<%- ctx.linkResolver(home) %>">Home</a></h3>
</div>

<!-- % for(var i=0; i < pagesTree().results.length; i++) { % -->
<?php foreach(get_pages() as $page) { ?>
<div class="sidebar-section">
    <h3><?= page_link($page) ?></h3>
    <ul>
        <?php foreach($page['children'] as $subpage) { ?>
        <li><?= page_link($subpage) ?></li>
        <?php } ?>
    </ul>
</div>
<!-- % } % -->

<div class="sidebar-section">
    <h3>Archives</h3>
    <ul>
        <?php foreach(get_calendar() as $entry) { ?>
        <li><a href="<?= $entry['link'] ?>"><?= $entry['label'] ?></a></li>
        <?php } ?>
    </ul>
</div>

