<% layout('layout') -%>

<% block('bodyclass', "front-page") %>

<div class="blog-header">
    <div class="container">
        <h1 class="blog-title">tag:<%= tag %></h1>
    </div>
</div>

<div class="container blog-main">

    <% for(var i=0; i < docs.results.length; i++) { %>
    <%- partial('content', { post: docs.results[i] }) %>
    <% } %>
    <% if (docs.results.length == 0) { %>
    Sorry, no posts matched your criteria.
    <% } %>

    <?php previous_posts_link() ?>

    <?php next_posts_link() ?>

</div>

